
*{
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }

  .column {
	flex: 50%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
  }